<div class="container" id="content">
    <div class="row" id="main_chat_frame">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading" id="main_chat_heading">
                    <h4>Чат с незнакомцем</h4>
                </div>
                <div class="panel-body flat_style" id="main_chat_messages">
                    <div class="mymessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body ">
                                <span class="message-text">Привет! А вы знали что в чате иногда бывает очень много строчек текста? Нет? Вот и я не знал. А ещё бывают очень длинные строки текста<br>
                                тут новая строчка<br><br>
                                тут новая строчка<br>
                                </span>
                                <div class="time">
                                    <span class=" text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <div class="circle_group_block">
                                        <div class="circleG_1 circleG"></div>
                                        <div class="circleG_2 circleG"></div>
                                        <div class="circleG_3 circleG"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                     </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">М</span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <span class="message-text">
                                    Привет
                                </span>
                                <div class="time">
                                    <span class="text-muted small">
                                        <i class="fa fa-clock-o" aria-hidden="true"></i> 03:45:44
                                    </span>
                                    <i class="fa fa-check text-success" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>

                    </div>
                 </div>
                 <div class="panel-footer" id="main_chat_message_controls">
                         <textarea class="form-control" id="main_message_ta"></textarea>
                     <button type="button" class="btn btn-primary" id="main_message_btn_send"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> Отправить</button>
                 </div>
             </div>
         </div>

         <div class="col-md-3">
             <div class="panel panel-default">
                 <div class="panel-heading">Опции беседы</div>
                 <div class="panel-body">

                     <!-- TODO: delete -->
                     <div class="checkbox">
                         <label><input type="checkbox" value="" id="dev_style" checked="checked">Flat style</label>
                     </div>

                     <button class="btn btn-sm btn-block btn-danger"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Жалоба</button><br>
                     <button class="btn btn-sm btn-block btn-warning"><i class="fa fa-ban" aria-hidden="true"></i> Заблокировать</button><br>
                     <button class="btn btn-sm btn-block btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Добавить в друзья</button>

                     <div class="checkbox">
                         <label><input type="checkbox" value="">Разрешить ссылки</label>
                     </div>

                     <div class="checkbox">
                         <label><input type="checkbox" value="">Разрешить фото</label>
                     </div>

                     <div class="checkbox">
                         <label><input type="checkbox" value="">Разрешить Видео</label>
                     </div>

                     <div class="checkbox">
                         <label><input type="checkbox" value="">Разрешить Аудио</label>
                     </div>
                     <hr/>

                     <div class="checkbox">
                         <label><input type="checkbox" value="" checked>Показывать время</label>
                     </div>

                     <div class="checkbox">
                         <label><input type="checkbox" value="">Звуки</label>
                     </div>



                 </div>
             </div>
         </div>
     </div>
 </div>