<div class="container" id="content">
    <div class="row" id="main_chat_frame">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" id="main_chat_heading">
                    <h4>Чат с незнакомцем</h4>
                </div>
                <div class="panel-body" id="main_chat_messages">
                    <div class="mymessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body ">
                                Привет!<br>
                                тут новая строчка<br><br>
                                тут новая строчка<br>

                            </div>
                        </div>
                        <i class="fa fa-check text-success" aria-hidden="true"></i>
                    </div>


                    <div class="anonmessage">
                        <div class="avatar"></div>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Привет
                            </div>
                        </div>
                        <i class="fa fa-check text-muted" aria-hidden="true"></i>
                    </div>

                </div>
                <div class="panel-footer" id="main_chat_message_controls">
                        <textarea class="form-control" id="main_message_ta"></textarea>
                    <button type="button" class="btn btn-primary" id="main_message_btn_send"><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i> Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>